/* .body_class{
  background-color: #D9A3F0;
} */

body {
  font-family: 'Montserrat', sans-serif;
}

.header{
  background-color: #3e464c;
  color: #FFF;
  text-align: center;
  line-height: 32px;
}

.header--text {
  font-size: 28px;
  padding-top: 12px;
  font-weight: 600;
}

.header--sub-heading {
  font-size: 13px;
}

.pagetype {
  font-size: 24px;
  margin: 15px;
  font-weight: 600;
  color: rgb(156, 39, 176);
}


.card {
  height: 280px;
  margin-bottom: 20px;
}

.card-body {
  border-top: 1px solid #EEE;
}

.card-body a {
  padding: 3px 10px;
  font-size: 13px;
}

.card-title .card--text {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
}

.card-title .card--price {
  background: #333;
  color: #FFF;
  padding: 5px;
  border-radius: 6px;
  font-size: 12px;
  float: right;
}

.card img {
  height: 180px;
}

 .products-add-text, .products-add-icon, .products-add-icon:hover,
 .products-add-icon:visited
 {
  float: right;
  font-size: 15px;
  color : rgb(156, 39, 176);
}

.post-form{
  margin-left: 20px;
}
